---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Literal Garage LLC">
	<main>
    Hello!
    <br />
    <br />
    <span class="text-eternity" style="font-weight: 800;">Literal Garage</span> is the portfolio of <a href="https://davepeck.org/now">Dave&nbsp;Peck</a>, an independent software developer based in sunny Seattle, Washington.
    <br />
    <br />
    Stay tuned in early 2024 for more.
	</main>
</Layout>
