---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Literal Garage LLC">
	<main>
		<h1><span class="text-gradient">One&nbsp;man.<br />One&nbsp;garage.<br />Literally.</span></h1>
    <div class="colophon">Literal Garage LLC is the portfolio of <a href="https://davepeck.org/">Dave&nbsp;Peck</a>, an independent software developer.</div>
    <div class="hero-image">&nbsp;</div>
	</main>
</Layout>

<style>
	main {
	  margin: auto;
	}

  .hero-image {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/pub-garage-hero-topfade.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }

	h1 {
		font-size: 5rem;
		font-weight: 800;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	}

  /** Make h1 smaller (4rem) on an iPhone 14 Max or smaller device. */
  @media (max-width: 430px) {
    h1 {
      font-size: 4rem;
    }
  }

  /** Make h1 even smaller (3.25rem) on iPhone mini devices. */
  @media (max-width: 375px) {
    h1 {
      font-size: 3.25rem;
    }
  }

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
    /** Add a black shadow to the bottom-right exterior of the text. */
    filter: drop-shadow(2px 2px 0.333rem black);
	}

  .colophon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2rem;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    color: #ccc;
    filter: drop-shadow(1px 1px 0.125rem black);
  }

  a {
    color: #ddd;
  }

  a:hover {
    color: white;
  }
</style>
