---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Literal Garage LLC">
	<main>
    Hello!
    <br />
    <br />
    I'm <a href="https://mastodon.davepeck.org/@davepeck">Dave Peck</a>, an independent software developer based in sunny Seattle, Washington. I (literally) work out of my garage.
    <br />
    <br />
    Tusk Tracker is a project I'm working on to watch for outbound links in the Mastodon social network. I'm thinking about something like old-school "Nuzzel": a daily email with the most popular links.
    <br />
    <br />
    If you're here, it's because you saw this URL in the User-Agent header of a request I made to your Mastodon instance. If you'd like more details or would like for me to remove your instance, please <a href="mailto:dave@literalgarage.com">get in touch</a>!
    <br />
    <br />
    For background: right now, I'm trying to be as absurdly polite when requesting new toots as possible. In addition, I'm not storing the toots themselves; I'm only keeping track of the outbound links they contain. I'm storing zero personally identifiable or private information. I know that the Mastodon universe is (rightly!) concerned with privacy, and I'm trying to be as respectful as possible.
    <br />
    <br />
    Thanks and have a great day!
    <br />
	</main>
</Layout>
