---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
    /** Define some common colors. */
    --indigo-500: #6366f1;
    --fuchsia-500: #d946ef;
    --pink-500: #ec4899;

    /* Define top-left to bottom-right gradient with indigo-500, fuschia-500, and pink-500  stops. */
    --accent-gradient: linear-gradient(to bottom right, var(--indigo-500), var(--fuchsia-500), var(--pink-500));
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: rgb(0, 0, 0);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
