---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">  
    <a rel="me" href="https://mastodon.davepeck.org/@davepeck" style="visibility: hidden; display: none;">Mastodon</a>    
  </head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
    /** Define some common colors. */
    --poster-car: rgb(10, 8, 29);
    --blow-up-my-mind: rgb(145, 104, 72);
    --eternity: rgb(207, 86, 67);
    --grun: rgb(243, 193, 158);
    --spanish-cream: rgb(255, 251, 216);
	}

	html {
		font-family: 'Crimson Pro', serif;
		background-color: var(--spanish-cream);
    letter-spacing: -0.075em;
    font-weight: 300;
	}

  main {
    font-size: 3.5em;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 12em;
  }

  /** If we're on a smaller device, make the `main` smaller. */
  @media (max-width: 600px) {
    main {
      font-size: 2.4em;
      margin: 0 auto;
      margin-top: 1em;
      max-width: 8em;
    }
  }

  a {
    color: var(--blow-up-my-mind);
    text-decoration: none;
    font-style: italic;
  }

  a:hover {
    color: var(--eternity);
  }

  .text-poster-car {
    color: var(--poster-car);
  }

  .text-eternity {
    color: var(--eternity);
  }

  .text-grun {
    color: var(--grun);
  }

  .text-spanish-cream {
    color: var(--spanish-cream);
  }
</style>
